<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .block{
            display:block;
            margin: 10px;
            border: 2px dotted gray;
            padding:10px;
        }
        #menu ul li {
            display:inline-block;
            width:100px;
            height:30px;
            text-align:center;
            border:1px solid #000000;
            background-color:#4cff00;
            margin:5px;
            line-height:30px;
            vertical-align:middle;
        }
        #menu a{
            color:#ffffff;
            text-decoration:none;
            font-size:smaller;
        }
        #menu li:hover{
            background-color:#0026ff;
        }
        #menu li:hover a{
            color:#000000;
        }

    </style>

</head>
<body>
    <div class="block">
        <h1>ELYASE FARUK KEÇELİ BLOG PAGE</h1><br />
        <h3>İlerleme sadece sadeleştirme ile mümkündür.</h3><hr />
    </div>
    <div id="menu" class="block">
        @*Header*@
        <ul>
            <li>
                @Html.ActionLink("Home Page", "Homepage", "Home")
            </li>
            <li>
                @Html.ActionLink("About", "About", "Home")
            </li>
            <li>
                @Html.ActionLink("Contact", "Contact", "Home")
            </li>
        </ul>
    </div>
    <div class="block">
        <p>
            Eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl.
        </p>
    </div>
    <div class="block">
        @RenderBody()
    </div>
    <div class="block">
        @*Footer*@
        <b>Tüm hakları saklıdır. &copy;</b>
    </div>
</body>
</html>
