
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<h2>Blog</h2>

<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>

@section links{
    <li>
        @Html.ActionLink("Blog2", "Blog2", "Home3")
    </li>
    }

@section footer{
    <b>
        Lütfen bu sayfayı kopyalamayınız
    </b>
    }